doctype html
html
  head
    title exercism tracks

  body
    table
      tr
        each track in tracks
          td(valign='top')
            table
              tr
                th
                  a(href=track.repository)
                    = track.language
              each problem in track.problems
                tr
                  td(style='white-space: nowrap')
                    - var name = problem.split('/').pop()
                    a(href=track.repository + '/tree/master/'+ name)
                        = name
    hr
    img(src='http://exercism.io/img/logo.png' style='margin-right: 20px' width='120')
    |Copyright &copy; Katrina Owen Source: 
    a(href='https://github.com/exercism/synopsis')
      |github.com/exercism/synopsis
    |.  Report bugs and submit feedback on 
    a(href='https://github.com/exercism/exercism.io/issues')
      |GitHub
    |.  Ask questions on 
    a(href='http://stackoverflow.com')
      |StackOverflow
    |.
